fastapi
uvicorn[standard]
pydantic-settings
SQLAlchemy
pydantic
langchain==1.2.13
langchain-core==1.2.20
langchain-openai==1.1.11
langchain-chroma==1.1.0
langchain-text-splitters==1.1.1
python-multipart
python-docx
python-dotenv
pdfplumber
pdf2image
pytesseract
flashrank==0.2.10
